.pointer {
	cursor: pointer;
}
.question-header {
	display: inline-block;
}
.question-header > a:before {
	content: "" !important;
}

/*The following two classes are shorthening the menu */
/*Comment them for returning to initial position     */ 
.navbar.horizontal-menu,
.navbar.horizontal-menu .navbar-inner .navbar-brand
 {
	height: 50px !important;
}

.navbar.horizontal-menu .navbar-inner .navbar-nav>li,
.navbar.horizontal-menu .navbar-inner .navbar-nav>li>a
{
	line-height: 50px !important;
}

.ui-select-bootstrap > .ui-select-match > .btn {
	border: solid 1px #c3c3c3;
}

.btn-group>.btn:first-child {
	border: solid 1px #c3c3c3;
}