<div class="row">
	<div class="col-md-12">
		<!-- Default panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				{{'MENU_SECONDARY' | translate}}
			</div>
			
			<div class="panel-body">
				
				<div class="row">
					<div class="col-md-4">
						<label>Година</label>
						<div ng-dropdown-multiselect="" search-filter="yearFilter" options="years" selected-model="filter.year" extra-settings="yearSettings" translation-texts="yearSettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>Општина</label>
						<div ng-dropdown-multiselect="" search-filter="municipalityFilter" options="municipalities" selected-model="filter.municipality" extra-settings="municipalitySettings" events="municipalityEvents" translation-texts="municipalitySettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>Институции</label>
						<div ng-dropdown-multiselect="" search-filter="institutionFilter" options="institutionsF" selected-model="filter.institution" extra-settings="institutionSettings" translation-texts="institutionSettingsText"></div>
					</div>
					<div class="col-md-12">
						<label>Прашање</label>
						
						<ui-select ng-model="filter.question" ng-change="getData(filter)" title="Изберете прашање...">
						<ui-select-match placeholder="Изберете прашање...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in questions | filter: $select.search">
						<span ng-bind-html="item.name | highlight: $select.search"></span>
						</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row">
					<button class="btn btn-success pull-right" ng-click="getData(filter);">Зачувај</button>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		
		<!-- Tabbed panel -->
		<div ng-init="tabbed_panel_active = 1;" class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-heading">
			<h3 class="panel-title">Приказ на информации</h3>
			
			<div class="panel-options">
				
				<ul class="nav nav-tabs">
					<li ng-class="{'active': tabbed_panel_active == 1}">
						<a href="" ng-click="tabbed_panel_active = 1">Табелраен</a>
					</li>
					<li ng-class="{'active': tabbed_panel_active == 2}">
						<a href="" ng-click="tabbed_panel_active = 2">Графички</a>
					</li>
				</ul>
				
			</div>
		</div>
		
		<div class="panel-body">
			
			<div class="tab-content">
				
				<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 1}">
					<table ng-table="gpr2Table" class="table table-bordered table-striped table-condensed table-hover" ng-show="hasData && filter.question.gpr == 2">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th>Запишани студенти по програма</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in tableData">
								<td>{{school.schoolName}} <br> <small>{{school.type}}</small></td>
								<td>
									<div ng-repeat="year in school.years">
										<p class="text-center"> За учебна година: {{year.schoolYear}} </p>
										<table class="table table-bordered table-striped table-condensed table-hover">
											<thead>
												<tr>
													<th> Програма </th>
													<th width="90px"> Запишани студенти</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="program in year.programmes">
													<td> {{program.programmeName}} </td>
													<td class="text-center"> {{program.studentsEnrolled}} </td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<p ng-show="!hasData && !isLoading">Нема информации за избраните параметри</p>
					<spinner ng-show="isLoading"></spinner>
				</div>
				
				<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
					<div class="col-md-4">
						<label>{{'GPR_1_TH_SCHOOL'|translate}}</label>
						<ui-select ng-model="gpr2.selectedSchool" ng-change="chartGpr2()">
						<ui-select-match>
						<span ng-bind="$select.selected.name"></span>
						</ui-select-match>
						<ui-select-choices repeat="item in (filter.institution | filter: $select.search)">
						<span ng-bind="item.name"></span>
						</ui-select-choices>
						</ui-select>
					</div>
					<div class="col-md-8">
						<canvas id="line" class="chart chart-line" chart-data="gpr2.data"
						chart-labels="gpr2.labels" chart-legend="true" chart-series="gpr2.series" >
						</canvas>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</div>
</div>