<div class="row">
	<div class="col-md-12">
		<!-- Default panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				{{'MENU_POST_SECONDARY' | translate}}
			</div>
			
			<div class="panel-body">
				
				<div class="row">
					<div class="col-md-4">
						<label>Година</label>
						<div ng-dropdown-multiselect="" search-filter="yearFilter" options="years" selected-model="filter.year" extra-settings="yearSettings" translation-texts="yearSettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>Општина</label>
						<div ng-dropdown-multiselect="" search-filter="municipalityFilter" options="municipalities" selected-model="filter.municipality" extra-settings="municipalitySettings" events="municipalityEvents" translation-texts="municipalitySettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>Институции</label>
						<div ng-dropdown-multiselect="" search-filter="institutionFilter" options="institutionsF" selected-model="filter.institution" extra-settings="institutionSettings" translation-texts="institutionSettingsText"></div>
					</div>
					<div class="col-md-12">
						<label>Прашање</label>
						<ui-select ng-model="filter.question" ng-change="getData(filter)" title="Изберете прашање...">
						<ui-select-match placeholder="Изберете прашање...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in questions | filter: $select.search">
						<span ng-bind-html="item.name | highlight: $select.search"></span>
						</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row">
					<!-- <button class="btn btn-success pull-right" ng-click="getData(filter);">Зачувај</button> -->
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		
		<!-- Tabbed panel -->
		<div ng-init="tabbed_panel_active = 1;" class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-heading">
			<h3 class="panel-title">Приказ на информации</h3>
			
			<div class="panel-options">
				
				<ul class="nav nav-tabs">
					<li ng-class="{'active': tabbed_panel_active == 1}">
						<a href="" ng-click="tabbed_panel_active = 1">Табелраен</a>
					</li>
					<li ng-class="{'active': tabbed_panel_active == 2}">
						<a href="" ng-click="tabbed_panel_active = 2">Графички</a>
					</li>
				</ul>
				
			</div>
		</div>
		
		<!-- Овој див ќе го менуваме во зависност од прашањето -->
		<div class="panel-body" ng-if="gpr == 9">
			
			<div class="tab-content">
				
				<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 1}">
					
					<!-- Flat panel -->
					<div class="panel panel-flat " ng-repeat="item in tableData9"><!-- Add class "collapsed" to minimize the panel -->
					<div class="panel-heading">
						<h3 class="panel-title">{{item.university[0].universityName}}</h3>
						<div class="panel-options">
							<a href="#">
								<i class="linecons-cog"></i>
							</a>
							
							<a href="#" data-toggle="panel">
								<span class="collapse-icon">&ndash;</span>
								<span class="expand-icon">+</span>
							</a>
							
							<a href="#" data-toggle="reload">
								<i class="fa-rotate-right"></i>
							</a>
							
							<a href="#" data-toggle="remove">
								&times;
							</a>
						</div>
					</div>
					
					<div class="panel-body">
						
						<table class="table table-bordered table-striped table-condensed table-hover">
							<thead>
								<tr>
									<th>Факултет</th>
									<th>Запишани студенти</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="faculty in item.university[0].faculty">
									<td>{{faculty.facultyName}} <br> <small>{{faculty.municipalityName}}</small> </td>
									<td>
										<table class="table table-striped table-condensed">
											<thead>
												<tr>
													<th>Учебна Година</th>
													<th>Аплицирале</th>
													<th>Запишани</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="year in faculty.years">
													<td>{{year.academicYear}}</td>
													<td>{{year.studentsApplied}}</td>
													<td>{{year.studentsEnrolled}}</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
						
						
					</div>
				</div>
				<p ng-show="!hasData && !isLoading">Нема информации за избраните параметри</p>
				<spinner ng-show="isLoading"></spinner>
			</div>
			
			<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
				
				
				<p ng-show="!hasData && !isLoading">Нема информации за избраните параметри</p>
				<spinner ng-show="isLoading"></spinner>
			</div>
			
		</div>
	</div>
</div>

</div>
</div>