<div class="row">
	<div class="col-md-12">
		<!-- Default panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				{{'MENU_SECONDARY' | translate}}
			</div>
			
			<div class="panel-body">
				
				<div class="row">
					<div class="col-md-4">
						<label>{{'GPR_1_TH_SCHOOL_YEAR' | translate}}</label>
						<div ng-dropdown-multiselect="" search-filter="yearFilter" options="vm.years" selected-model="vm.filter.year" extra-settings="vm.yearSettings" translation-texts="vm.yearSettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>{{'GPR_1_TH_MUNICI' | translate}}</label>
						<div ng-dropdown-multiselect="" search-filter="municipalityFilter" options="vm.municipalities" selected-model="vm.filter.municipality" extra-settings="vm.municipalitySettings" events="municipalityEvents" translation-texts="vm.municipalitySettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>{{'FILTER_INSTITUTION' | translate}}</label>
						<div ng-dropdown-multiselect="" search-filter="institutionFilter" options="vm.institutionsF" selected-model="vm.filter.institution" extra-settings="vm.institutionSettings" translation-texts="vm.institutionSettingsText"></div>
					</div>
					<div class="col-md-12">
						<label>{{'FILTER_QUESTIONS' | translate}}</label>
						
						<ui-select ng-model="vm.filter.question" ng-change="vm.getData(vm.filter)" title="{{'SELECT_QUESTION' | translate}}">
						<ui-select-match placeholder="{{'SELECT_QUESTION' | translate}}">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in vm.questions | filter: $select.search">
						<span ng-bind-html="item.name | highlight: $select.search"></span>
						</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row">
					<button class="btn btn-success pull-right" ng-click="vm.getData(vm.filter);">{{'BTN_SAVE' | translate}}</button>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		
		<!-- Tabbed panel -->
		<div ng-init="vm.tabbed_panel_active = 1;" class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-heading">
			<h3 class="panel-title">{{'INFO_SHOW' | translate }}</h3>
			
			<div class="panel-options">
				
				<ul class="nav nav-tabs">
					<li ng-class="{'active': vm.tabbed_panel_active == 1}">
						<a href="" ng-click="vm.tabbed_panel_active = 1">{{'GPR_TABLE' | translate}}</a>
					</li>
					<li ng-class="{'active': vm.tabbed_panel_active == 2}">
						<a href="" ng-click="vm.tabbed_panel_active = 2">{{'GPR_CHART' | translate}}</a>
					</li>
				</ul>
				
			</div>
		</div>
		
		<div class="panel-body">
			
			<div class="tab-content">
				
				<div class="tab-pane" ng-class="{'active': vm.tabbed_panel_active == 1}">

				<!-- GPR 1 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 1">
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th class="col-md-3">{{'GPR_1_TH_SCHOOL'| translate}}</th> 
								<th >{{'GPR_1_TH_MUNICI' | translate}}</th>
								<th class="col-md-2">{{'GPR_1_TH_TYPE' | translate}}</th>
								<th>{{'GPR_1_TH_STUDENTS'| translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td>{{school.schoolName}}</td>
								<td>{{school.municipalityName}}</td>
								<td>{{school.type}}</td>
								<td>
									<table class="table table-bordered table-striped table-condensed table-hover">
										<thead>
											<tr>
												<th>{{'GPR_1_TH_SCHOOL_YEAR' |translate}} </th>
												<th> {{'GPR_1_TH_APPLIED' |translate}} </th>
												<th>{{'GPR_1_TH_ENROLLED' | translate}}</th>
												<th>{{'GPR_1_TH_PERCENT' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr  ng-repeat="year in school.years">
												<td class="text-center"> {{year.schoolYear}} </td>
												<td class="text-center" ng-show="year.schoostudentsApplied != null"> {{year.schoostudentsApplied}} </td>
												<td class="text-center" ng-show="year.schoostudentsApplied == null"> {{year.studentsEnrolled}} </td>
												<td class="text-center"> {{year.studentsEnrolled}} </td>
												<td class="text-center" ng-show="year.schoostudentsApplied != null"> {{vm.calcPercent(year.schoostudentsApplied,year.studentsEnrolled)}} 
												</td>
												<td class="text-center" ng-show="year.schoostudentsApplied == null">100</td>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

					<!-- END OF GPR 1 -->

					<!-- GPR 2 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 2">	
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th class="col-md-2">{{'GPR_1_TH_TYPE'| translate}}</th>
								<th>{{'STUDENTS_PER_PROGRAM' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td>{{school.schoolName}}</td>
								<td>{{school.type}}</td>
								<td>
									<div ng-repeat="year in school.years">
										<p class="text-center"> {{'FOR_SCHOOL_YEAR' | translate}} {{year.schoolYear}} </p>
										<table class="table table-bordered table-striped table-condensed table-hover">
											<thead>
												<tr>
													<th> {{'PROGRAM' |translate}} </th>
													<th width="90px">{{'GPR_1_TH_ENROLLED' | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="program in year.programmes">
													<td> {{program.programmeName}} </td>
													<td class="text-center"> {{program.studentsEnrolled}} </td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>	
					<!-- END OF GPR 2 -->

					<!-- GPR 3 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 3">	
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th>{{'GPR_1_TH_TYPE'| translate}}</th>
								<th>{{'GPR_1_TH_STUDENTS'| translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td class="col-md-4">{{school.schoolName}} <br> <small> {{school.municipalityName}} </small></td>
								<td class="col-md-4">{{school.type}}</td>
								<td>
									<div ng-repeat="year in school.years">
										<p class="text-center"> {{'FOR_SCHOOL_YEAR' | translate}} {{year.schoolYear}} </p>
										<table class="table table-bordered table-striped table-condensed table-hover">
											<thead>
												<tr>
													<th> {{'GPR_3_TH_NATIONALITY' |translate}} </th>
													<th width="90px">{{'GPR_1_TH_ENROLLED' | translate}}</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="nationality in year.nationality">
													<td> {{nationality.nationalityName}} </td>
													<td class="text-center"> {{nationality.studentsEnrolled}} </td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
					<!-- END OF GPR 3 -->

					<!-- GPR 4 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 4">	
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th>{{'GPR_4_STUDENTS_NATIONALITY' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td>{{school.schoolName}} <br> <small>{{school.type}}</small></td>
								<td>
									<div ng-repeat="year in school.years">
										<p class="text-center"> {{'FOR_SCHOOL_YEAR' | translate}} {{year.schoolYear}} </p>
										<table class="table table-bordered table-striped table-condensed table-hover">
											<thead>
												<tr>
													<th> {{'PROGRAM' |translate}} </th>
													<th> {{'GPR_3_TH_NATIONALITY' |translate}} </th>
													<th> {{'GPR_1_TH_ENROLLED' |translate}} </th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="program in year.programmes">
													<td>{{program.programmeName}}</td>
													<td>
														<table class="table table-striped table-condensed table-hover">
															<tbody>
																<tr ng-repeat="nationality in program.nationality">
																	<td> {{nationality.nationalityName}} </td>
																</tr>
															</tbody>
														</table>
													</td>
													<td>
														<table class="table table-striped table-condensed table-hover">
															<tbody>
																<tr ng-repeat="nationality in program.nationality">
																	<td class="text-center"> {{nationality.studentsEnrolled}} </td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>	

					<!-- END OF GPR 4 -->

					<!-- GPR 5 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 5">	
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th>{{'GPR_1_TH_TYPE'| translate}}</th>
								<th>{{'GPR_5_STUDENTS_GENDER'| translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td>{{school.schoolName}} <br></td>
								<td>{{school.type}}</td>
								<td>
									<table class="table table-bordered table-striped table-condensed table-hover">
										<thead>
											<tr>
												<th>{{'GPR_1_TH_SCHOOL_YEAR' |translate}} </th>
												<th> {{'GPR_5_TH_FEMALE' |translate}} </th>
												<th>{{'GPR_5_TH_MALE' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr  ng-repeat="year in school.years">
												<td class="text-center"> {{year.schoolYear}} </td>
												<td class="text-center"> {{year.gender[0].studentsEnrolled}} </td>
												<td class="text-center"> {{year.gender[1].studentsEnrolled}} </td>
												</td>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
					<!-- END OF GPR 5 -->

					<!-- GPR 6 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 6">	
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th>{{'GPR_5_STUDENTS_GENDER' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td>{{school.schoolName}} <br> <small>{{school.type}}</small></td>
								<td>
									<div ng-repeat="year in school.years">
										<p class="text-center"> {{'FOR_SCHOOL_YEAR' | translate}} {{year.schoolYear}} </p>
										<table class="table table-bordered table-striped table-condensed table-hover">
											<thead>
												<tr>
													<th> {{'PROGRAM' |translate}} </th>
													<th> {{'GPR_5_TH_FEMALE' |translate}} </th>
													<th> {{'GPR_5_TH_MALE' |translate}} </th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="program in year.programmes">
													<td>{{program.programmeName}}</td>
													<td class="text-center"> {{program.gender[0].studentsEnrolled}} </td>
													<td class="text-center"> {{program.gender[1].studentsEnrolled}} </td>
												</tr>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
					<!-- END OF GPR 6 -->

					<!-- GPR 7 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 7">	
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th>{{'GPR_1_TH_STUDENTS' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td>{{school.schoolName}}<br> <small>{{school.type}}</small></td>
								<td>
									<table class="table table-bordered table-striped table-condensed table-hover">
										<thead>
											<tr>
												<th>{{'GPR_1_TH_SCHOOL_YEAR' |translate}} </th>
												<th>{{'GPR_7_GRADUATED' |translate}}</th>
												<th>{{'GPR_7_ENROLLED' | translate}}</th>
												<th>{{'GPR_7_EMPLOYED' | translate}}</th>
												<th>{{'GPR_7_UNEMPLOYED' | translate}}</th>
												<th>{{'GPR_7_UNKNOWN' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr  ng-repeat="year in school.years">
												<td class="text-center"> {{year.schoolYear}} </td>
												<td class="text-center"> {{year.GraduatesNumber}} </td>
												<td class="text-center"> {{year.studentsEnrolled}} </td>
												<td class="text-center"> {{year.EmployedNumber}} </td>
												<td class="text-center"> {{year.UnemployedNumber}} </td>
												<td class="text-center"> {{year.UnknownStatusNumber}} </td>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
					<!-- END OF GPR 7 -->

					<!-- GPR 8 -->
				<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 8">	
					<table ng-table="vm.gprTable" class="table table-bordered table-striped table-condensed table-hover" ng-show="vm.hasData && vm.filter.question.gpr == 8">
						<thead>
							<tr>
								<th>{{'GPR_1_TH_SCHOOL'| translate}}</th>
								<th>{{'GPR_1_TH_STUDENTS' | translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="school in $data">
								<td>{{school.schoolName}} <br> <small>{{school.type}}</small></td>
								<td>
									<div ng-repeat="year in school.years">
										<p class="text-center"> {{'FOR_SCHOOL_YEAR' | translate}} {{year.schoolYear}} </p>
										<table class="table table-bordered table-striped table-condensed table-hover">
										<thead>
											<tr>
												<th class="col-md-3">{{'PROGRAM' |translate}} </th>
												<th>{{'GPR_7_GRADUATED' |translate}}</th>
												<th>{{'GPR_7_ENROLLED' | translate}}</th>
												<th>{{'GPR_7_EMPLOYED' | translate}}</th>
												<th>{{'GPR_7_UNEMPLOYED' | translate}}</th>
												<th>{{'GPR_7_UNKNOWN' | translate}}</th>
											</tr>
										</thead>
										<tbody>
											<tr  ng-repeat="program in year.programmes">
												<td> {{program.programmeName}} </td>
												<td class="text-center"> {{program.GraduatesNumber}} </td>
												<td class="text-center"> {{program.studentsEnrolled}} </td>
												<td class="text-center"> {{program.EmployedNumber}} </td>
												<td class="text-center"> {{program.UnemployedNumber}} </td>
												<td class="text-center"> {{program.UnknownStatusNumber}} </td>
										</tbody>
									</table>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
					<!-- END OF GPR 8 -->


					<p ng-show="!vm.hasData && !vm.isLoading">{{'NO_INFO' | translate}}</p>
					<spinner ng-show="vm.isLoading"></spinner>
				</div>

			<!-- CHARTS -->	
				<div class="tab-pane" ng-class="{'active': vm.tabbed_panel_active == 2}">


				<!-- GPR 1 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 1">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.drawChartQ1(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8">
								<canvas id="line" class="chart-line" chart-data="vm.chart.data" chart-series="vm.chart.series" chart-labels="vm.chart.labels" chart-legend="true">
								</canvas>
							</div>
						</div>	
					</div>

				<!-- GPR 2 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 2">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.schoolSelection(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL_YEAR'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedYears" ng-change="vm.drawChartQ2(vm.chart.SelectedYears)">
									<ui-select-match placeholder="Select Year">
										<span ng-bind="$select.selected.schoolYear"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.schools.years | filter: $select.search)">
										<span ng-bind="item.schoolYear"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<canvas id="chart2" class="chart chart-doughnut" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-legend="true" >
							</canvas>
						</div>
					</div>

					<!-- GPR 3 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 3">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.schoolSelection(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL_YEAR'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedYears" ng-change="vm.drawChartQ3(vm.chart.SelectedYears)">
									<ui-select-match placeholder="Select Year">
										<span ng-bind="$select.selected.schoolYear"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.schools.years | filter: $select.search)">
										<span ng-bind="item.schoolYear"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<canvas id="chart3" class="chart chart-pie" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-legend="true" >
							</canvas>
						</div>
					</div>

					<!-- GPR 4 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 4">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.schoolSelection(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL_YEAR'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedYears" ng-change="vm.yearSelection(vm.chart.SelectedYears)">
									<ui-select-match placeholder="Select Year">
										<span ng-bind="$select.selected.academicYear"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.schools.years | filter: $select.search)">
										<span ng-bind="item.academicYear"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'PROGRAM'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedProgram" ng-change="vm.drawChartQ4(vm.chart.SelectedProgram)">
									<ui-select-match placeholder="Select Program">
										<span ng-bind="$select.selected.programmeName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.SelectedYears.programmes | filter: $select.search)">
										<span ng-bind="item.programmeName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<canvas id="chart5" class="chart chart-doughnut" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-legend="true" >
							</canvas>
						</div>
					</div>

					<!-- GPR 5 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 5">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.schoolSelection(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL_YEAR'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedYears" ng-change="vm.drawChartQ5(vm.chart.SelectedYears)">
									<ui-select-match placeholder="Select Year">
										<span ng-bind="$select.selected.schoolYear"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.schools.years | filter: $select.search)">
										<span ng-bind="item.schoolYear"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<canvas id="chart5" class="chart chart-pie" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-legend="true" >
							</canvas>
						</div>
					</div>

					<!-- GPR 6 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 6">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.schoolSelection(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL_YEAR'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedYears" ng-change="vm.yearSelection(vm.chart.SelectedYears)">
									<ui-select-match placeholder="Select Year">
										<span ng-bind="$select.selected.schoolYear"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.schools.years | filter: $select.search)">
										<span ng-bind="item.schoolYear"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'PROGRAM'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedProgram" ng-change="vm.drawChartQ6(vm.chart.SelectedProgram)">
									<ui-select-match placeholder="Select Program">
										<span ng-bind="$select.selected.programmeName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.SelectedYears.programmes | filter: $select.search)">
										<span ng-bind="item.programmeName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<canvas id="chart6" class="chart chart-doughnut" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-legend="true" >
							</canvas>
						</div>
					</div>
					
					
					<!-- GPR 7 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 7">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.schoolSelection(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL_YEAR'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedYears" ng-change="vm.drawChartQ7(vm.chart.SelectedYears)">
									<ui-select-match placeholder="Select Year">
										<span ng-bind="$select.selected.schoolYear"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.schools.years | filter: $select.search)">
										<span ng-bind="item.schoolYear"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<canvas id="chart7" class="chart chart-pie" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-series ="vm.chart.series"  chart-legend="true" >
							</canvas>
						</div>
					</div>

					<!-- GPR 8 CHART -->
					<div class="row" ng-show="vm.hasData && vm.filter.question.gpr == 8">
						<div class="col-md-4">
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL'| translate}}</label>
								<ui-select ng-model="vm.chart.schools" ng-change="vm.schoolSelection(vm.chart.schools)">
									<ui-select-match placeholder="Select School">
										<span ng-bind="$select.selected.schoolName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.tableData | filter: $select.search)">
										<span ng-bind="item.schoolName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'GPR_1_TH_SCHOOL_YEAR'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedYears" ng-change="vm.yearSelection(vm.chart.SelectedYears)">
									<ui-select-match placeholder="Select Year">
										<span ng-bind="$select.selected.schoolYear"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.schools.years | filter: $select.search)">
										<span ng-bind="item.schoolYear"></span>
									</ui-select-choices>
								</ui-select>
							</div>
							<div class="row">
								<label>{{'PROGRAM'| translate}}</label>
								<ui-select ng-model="vm.chart.SelectedProgram" ng-change="vm.drawChartQ8(vm.chart.SelectedProgram)">
									<ui-select-match placeholder="Select Program">
										<span ng-bind="$select.selected.programmeName"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (vm.chart.SelectedYears.programmes | filter: $select.search)">
										<span ng-bind="item.programmeName"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
						<div class="col-md-8">
							<canvas id="chart8" class="chart chart-doughnut" chart-data="vm.chart.data" chart-labels="vm.chart.labels" chart-series ="vm.chart.series" chart-legend="true" >
							</canvas>
						</div>
					</div>

				</div>
				<!--END OF SECOND TAB -->
					<!-- <canvas id="chart1" class="chart chart-bar" chart-data="vm.chart.data"
							chart-labels="vm.chart.labels" chart-legend="true" chart-series="vm.chart.series" >
					</canvas> -->
				</div>
			</div>
		</div>
	</div>
	
</div>
</div>