<div class="row">
	<div class="col-md-12">
		<!-- Default panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				{{'MENU_SECONDARY' | translate}}
			</div>
			
			<div class="panel-body">
				
				<div class="row">
					<div class="col-md-4">
						<label>Година</label>
						<div ng-dropdown-multiselect="" search-filter="yearFilter" options="years" selected-model="filter.year" extra-settings="yearSettings" translation-texts="yearSettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>Општина</label>
						<div ng-dropdown-multiselect="" search-filter="municipalityFilter" options="municipalities" selected-model="filter.municipality" extra-settings="municipalitySettings" onItemSelect="test();" translation-texts="municipalitySettingsText"></div>
					</div>
					<div class="col-md-4">
						<label>Институции</label>
						<div ng-dropdown-multiselect="" search-filter="institutionFilter" options="institutions" selected-model="filter.institution" extra-settings="institutionSettings" translation-texts="institutionSettingsText"></div>
					</div>
					<div class="col-md-12">
						<label>Прашање</label>
						
						<ui-select ng-model="filter.question" title="Изберете прашање...">
						<ui-select-match placeholder="Изберете прашање...">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item in questions | filter: $select.search">
						<span ng-bind-html="item.name | highlight: $select.search"></span>
						</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="row">
					<button class="btn btn-success pull-right" ng-click="getData(filter);">Зачувај</button>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		
		<!-- Tabbed panel -->
		<div ng-init="tabbed_panel_active = 1;" class="panel panel-default"><!-- Add class "collapsed" to minimize the panel -->
		<div class="panel-heading">
			<h3 class="panel-title">Приказ на информации</h3>
			
			<div class="panel-options">
				
				<ul class="nav nav-tabs">
					<li ng-class="{'active': tabbed_panel_active == 1}">
						<a href="" ng-click="tabbed_panel_active = 1">Табелраен</a>
					</li>
					<li ng-class="{'active': tabbed_panel_active == 2}">
						<a href="" ng-click="tabbed_panel_active = 2">Графички</a>
					</li>
				</ul>
				
			</div>
		</div>
		
		<div class="panel-body">
			
			<div class="tab-content">
				
				<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 1}">
					<div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
						
						<table cellspacing="0" class="table table-small-font table-bordered table-striped">
							<thead>
								<tr>
									<th>Company</th>
									<th data-priority="1">Last Trade</th>
									<th data-priority="3">Trade Time</th>
									<th data-priority="1">Change</th>
									<th data-priority="3">Prev Close</th>
									<th data-priority="3">Open</th>
									<th data-priority="6">Bid</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>GOOG <span class="co-name">Google Inc.</span></th>
									<td>{{'597.74' | number}}</td>
									<td>12:12PM</td>
									<td>14.81 (2.54%)</td>
									<td>582.93</td>
									<td>597.95</td>
									<td>597.73 x 100</td>
								</tr>
								<tr>
									<th>AAPL <span class="co-name">Apple Inc.</span></th>
									<td>378.94</td>
									<td>12:22PM</td>
									<td>5.74 (1.54%)</td>
									<td>373.20</td>
									<td>381.02</td>
									<td>378.92 x 300</td>
								</tr>
								<tr>
									<th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
									<td>191.55</td>
									<td>12:23PM</td>
									<td>3.16 (1.68%)</td>
									<td>188.39</td>
									<td>194.99</td>
									<td>191.52 x 300</td>
								</tr>
								<tr>
									<th>ORCL <span class="co-name">Oracle Corporation</span></th>
									<td>31.15</td>
									<td>12:44PM</td>
									<td>1.41 (4.72%)</td>
									<td>29.74</td>
									<td>30.67</td>
									<td>31.14 x 6500</td>
								</tr>
								<tr>
									<th>MSFT <span class="co-name">Microsoft Corporation</span></th>
									<td>25.50</td>
									<td>12:27PM</td>
									<td>0.66 (2.67%)</td>
									<td>24.84</td>
									<td>25.37</td>
									<td>25.50 x 71100</td>
								</tr>
								<tr>
									<th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
									<td>18.65</td>
									<td>12:45PM</td>
									<td>0.97 (5.49%)</td>
									<td>17.68</td>
									<td>18.23</td>
									<td>18.65 x 10300</td>
								</tr>
								<tr>
									<th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
									<td>15.81</td>
									<td>12:25PM</td>
									<td>0.11 (0.67%)</td>
									<td>15.70</td>
									<td>15.94</td>
									<td>15.79 x 6100</td>
								</tr>
								<!-- Repeat -->
								<tr>
									<th>GOOG <span class="co-name">Google Inc.</span></th>
									<td>597.74</td>
									<td>12:12PM</td>
									<td>14.81 (2.54%)</td>
									<td>582.93</td>
									<td>597.95</td>
									<td>597.73 x 100</td>
								</tr>
								<tr>
									<th>AAPL <span class="co-name">Apple Inc.</span></th>
									<td>378.94</td>
									<td>12:22PM</td>
									<td>5.74 (1.54%)</td>
									<td>373.20</td>
									<td>381.02</td>
									<td>378.92 x 300</td>
								</tr>
								<tr>
									<th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
									<td>191.55</td>
									<td>12:23PM</td>
									<td>3.16 (1.68%)</td>
									<td>188.39</td>
									<td>194.99</td>
									<td>191.52 x 300</td>
								</tr>
								<tr>
									<th>ORCL <span class="co-name">Oracle Corporation</span></th>
									<td>31.15</td>
									<td>12:44PM</td>
									<td>1.41 (4.72%)</td>
									<td>29.74</td>
									<td>30.67</td>
									<td>31.14 x 6500</td>
								</tr>
								<tr>
									<th>MSFT <span class="co-name">Microsoft Corporation</span></th>
									<td>25.50</td>
									<td>12:27PM</td>
									<td>0.66 (2.67%)</td>
									<td>24.84</td>
									<td>25.37</td>
									<td>25.50 x 71100</td>
								</tr>
								<tr>
									<th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
									<td>18.65</td>
									<td>12:45PM</td>
									<td>0.97 (5.49%)</td>
									<td>17.68</td>
									<td>18.23</td>
									<td>18.65 x 10300</td>
								</tr>
								<tr>
									<th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
									<td>15.81</td>
									<td>12:25PM</td>
									<td>0.11 (0.67%)</td>
									<td>15.70</td>
									<td>15.94</td>
									<td>15.79 x 6100</td>
								</tr>
								<!-- Repeat -->
								<tr>
									<th>GOOG <span class="co-name">Google Inc.</span></th>
									<td>597.74</td>
									<td>12:12PM</td>
									<td>14.81 (2.54%)</td>
									<td>582.93</td>
									<td>597.95</td>
									<td>597.73 x 100</td>
								</tr>
								<tr>
									<th>AAPL <span class="co-name">Apple Inc.</span></th>
									<td>378.94</td>
									<td>12:22PM</td>
									<td>5.74 (1.54%)</td>
									<td>373.20</td>
									<td>381.02</td>
									<td>378.92 x 300</td>
								</tr>
								<tr>
									<th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
									<td>191.55</td>
									<td>12:23PM</td>
									<td>3.16 (1.68%)</td>
									<td>188.39</td>
									<td>194.99</td>
									<td>191.52 x 300</td>
								</tr>
								<tr>
									<th>ORCL <span class="co-name">Oracle Corporation</span></th>
									<td>31.15</td>
									<td>12:44PM</td>
									<td>1.41 (4.72%)</td>
									<td>29.74</td>
									<td>30.67</td>
									<td>31.14 x 6500</td>
								</tr>
								<tr>
									<th>MSFT <span class="co-name">Microsoft Corporation</span></th>
									<td>25.50</td>
									<td>12:27PM</td>
									<td>0.66 (2.67%)</td>
									<td>24.84</td>
									<td>25.37</td>
									<td>25.50 x 71100</td>
								</tr>
								<tr>
									<th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
									<td>18.65</td>
									<td>12:45PM</td>
									<td>0.97 (5.49%)</td>
									<td>17.68</td>
									<td>18.23</td>
									<td>18.65 x 10300</td>
								</tr>
								<tr>
									<th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
									<td>15.81</td>
									<td>12:25PM</td>
									<td>0.11 (0.67%)</td>
									<td>15.70</td>
									<td>15.94</td>
									<td>15.79 x 6100</td>
								</tr>
								<!-- Repeat -->
								<tr>
									<th>GOOG <span class="co-name">Google Inc.</span></th>
									<td>597.74</td>
									<td>12:12PM</td>
									<td>14.81 (2.54%)</td>
									<td>582.93</td>
									<td>597.95</td>
									<td>597.73 x 100</td>
								</tr>
								<tr>
									<th>AAPL <span class="co-name">Apple Inc.</span></th>
									<td>378.94</td>
									<td>12:22PM</td>
									<td>5.74 (1.54%)</td>
									<td>373.20</td>
									<td>381.02</td>
									<td>378.92 x 300</td>
								</tr>
								<tr>
									<th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
									<td>191.55</td>
									<td>12:23PM</td>
									<td>3.16 (1.68%)</td>
									<td>188.39</td>
									<td>194.99</td>
									<td>191.52 x 300</td>
								</tr>
								<tr>
									<th>ORCL <span class="co-name">Oracle Corporation</span></th>
									<td>31.15</td>
									<td>12:44PM</td>
									<td>1.41 (4.72%)</td>
									<td>29.74</td>
									<td>30.67</td>
									<td>31.14 x 6500</td>
								</tr>
								<tr>
									<th>MSFT <span class="co-name">Microsoft Corporation</span></th>
									<td>25.50</td>
									<td>12:27PM</td>
									<td>0.66 (2.67%)</td>
									<td>24.84</td>
									<td>25.37</td>
									<td>25.50 x 71100</td>
								</tr>
								<tr>
									<th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
									<td>18.65</td>
									<td>12:45PM</td>
									<td>0.97 (5.49%)</td>
									<td>17.68</td>
									<td>18.23</td>
									<td>18.65 x 10300</td>
								</tr>
								<tr>
									<th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
									<td>15.81</td>
									<td>12:25PM</td>
									<td>0.11 (0.67%)</td>
									<td>15.70</td>
									<td>15.94</td>
									<td>15.79 x 6100</td>
								</tr>
								<!-- Repeat -->
								<tr>
									<th>GOOG <span class="co-name">Google Inc.</span></th>
									<td>597.74</td>
									<td>12:12PM</td>
									<td>14.81 (2.54%)</td>
									<td>582.93</td>
									<td>597.95</td>
									<td>597.73 x 100</td>
								</tr>
								<tr>
									<th>AAPL <span class="co-name">Apple Inc.</span></th>
									<td>378.94</td>
									<td>12:22PM</td>
									<td>5.74 (1.54%)</td>
									<td>373.20</td>
									<td>381.02</td>
									<td>378.92 x 300</td>
								</tr>
								<tr>
									<th>AMZN <span class="co-name">Amazon.com Inc.</span></th>
									<td>191.55</td>
									<td>12:23PM</td>
									<td>3.16 (1.68%)</td>
									<td>188.39</td>
									<td>194.99</td>
									<td>191.52 x 300</td>
								</tr>
								<tr>
									<th>ORCL <span class="co-name">Oracle Corporation</span></th>
									<td>31.15</td>
									<td>12:44PM</td>
									<td>1.41 (4.72%)</td>
									<td>29.74</td>
									<td>30.67</td>
									<td>31.14 x 6500</td>
								</tr>
								<tr>
									<th>MSFT <span class="co-name">Microsoft Corporation</span></th>
									<td>25.50</td>
									<td>12:27PM</td>
									<td>0.66 (2.67%)</td>
									<td>24.84</td>
									<td>25.37</td>
									<td>25.50 x 71100</td>
								</tr>
								<tr>
									<th>CSCO <span class="co-name">Cisco Systems, Inc.</span></th>
									<td>18.65</td>
									<td>12:45PM</td>
									<td>0.97 (5.49%)</td>
									<td>17.68</td>
									<td>18.23</td>
									<td>18.65 x 10300</td>
								</tr>
								<tr>
									<th>YHOO <span class="co-name">Yahoo! Inc.</span></th>
									<td>15.81</td>
									<td>12:25PM</td>
									<td>0.11 (0.67%)</td>
									<td>15.70</td>
									<td>15.94</td>
									<td>15.79 x 6100</td>
								</tr>
							</tbody>
						</table>
						
					</div>
				</div>
				
				<div class="tab-pane" ng-class="{'active': tabbed_panel_active == 2}">
					
					<canvas id="line" class="chart chart-line" chart-data="data"
					chart-labels="labels" chart-legend="true" chart-series="series"
					chart-click="onClick" >
					</canvas>
				</div>
				
			</div>
		</div>
	</div>
	
</div>
</div>
<div class="row">
<div class="col-md-12">
	<!-- Default panel -->
	<div class="panel panel-default">
		<div class="panel-heading">
			Панел за дополнителни информации
		</div>
		
		<div class="panel-body">
			
			<div class="row">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas modi accusamus reprehenderit fuga explicabo, assumenda officia sunt laudantium recusandae quae qui ratione amet accusantium exercitationem, esse, voluptatum natus iure quo.
			</div>
			
		</div>
	</div>
</div>
</div>