<div class="row">
	<div class="col-sm-4 col-sm-offset-2 pointer" ng-click="goTo('students/secondary')">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-yellow" data-count=".num" data-from="0" data-to="128.4" data-decimal="," data-suffix="%" data-duration="2.5">
			<div class="xe-icon">
				<i class="linecons-videocam"></i>
			</div>
			
			<div class="xe-label">
				<strong class="num">0,0%</strong>
				<span>{{'MENU_SECONDARY' | translate}}</span>
			</div>
		</div>
		
	</div>
	<div class="col-sm-4 pointer" ng-click="goTo('students/postsecondary')">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-danger" data-count=".num" data-from="0" data-to="67.9" data-decimal="," data-suffix="%" data-duration="3">
			<div class="xe-icon">
				<i class="linecons-doc"></i>
			</div>
			
			<div class="xe-label">
				<strong class="num">0,0%</strong>
				<span>{{'MENU_POST_SECONDARY' | translate}}</span>
			</div>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		
		<!-- Default panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				{{'MENU_TITLE_PARENTSSTUDENTS' | translate}}
			</div>
			
			<div class="panel-body">
				
				<p>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably.</p>
				<p>Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.</p>
				
			</div>
		</div>
	</div>
</div>